<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head id='include-fragment'>

      <title>Web Store</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

      <link href="/webjars/bootstrap/css/bootstrap.css" rel="stylesheet" />
      <link href="/webjars/jquery-form-validator/form-validator/theme-default.min.css" rel="stylesheet"/>
      <link href="/webjars/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
      <link href="/webjars/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet" />
      <link href="/Styles.css" rel="stylesheet" />
      
      <script src="/webjars/jquery/jquery.min.js"></script>
      <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
      <script src="/webjars/font-awesome/svg-with-js/js/fontawesome-all.js"></script>
      <script src="/webjars/jquery-form-validator/form-validator/jquery.form-validator.min.js"></script>
      <script src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
      <script src="/webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
      <script src="/webjars/datatables-responsive/js/dataTables.responsive.js"></script>
      <script src="/webjars/datatables-responsive/js/responsive.bootstrap4.js"></script>
      <script src="/webjars/bootstrap-star-rating/js/star-rating.min.js"></script>
      <script src="/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js"></script>
      <script src="/Scripts.js"></script>
      
   </head>
</html>
