<!DOCTYPE HTML>
<html>

   <header th:replace="layout/Includes :: #include-fragment"></header>

   <body>
      <div th:replace="layout/NavBar :: #navbar-fragment"></div>

      <script>
         $(document).ready(function () {
             doConfigureFormValidation();
         });
      </script>

      <div class="container changePassword">

         <div class="row w-100 mx-auto">
            <div class="col col-padding">
               <div class="card mx-auto bg-light center-block ui-helper-margin-top">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-12 form-title">
                           <h2 th:text="#{change.password.title}"></h2>
                        </div>
                     </div>

                     <div th:replace="layout/Messages :: #messages-fragment"></div>

                     <form th:object="${passwordForm}" class="form-horizontal toggle-disabled" method="POST">

                        <div class="form-group row">
                           <label for="password" class="col-3 text-right input-label-middle"
                                  th:text="#{change.password.old.password}"></label>
                           <div class="input-group col-8 col-sm-6">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                              </div>
                              <input type="password" class="form-control"
                                     id="oldPassword" name="oldPassword"
                                     th:placeholder="#{login.input.password.placeholder}"
                                     data-validation-error-msg-container="#input-old-password-error"
                                     data-validation="length" data-validation-length="min4"
                                     th:attr="data-validation-error-msg=#{login.input.password.validation}">
                           </div>
                        </div>

                        <div class="form-group row d-none">
                           <div class="col-3"></div>
                           <div class="col-9 text-left" id="input-old-password-error"></div>
                        </div>

                        <div class="form-group row">
                           <label for="password_confirmation" class="col-3 text-right input-label-middle"
                                  th:text="#{change.password.new.password}"></label>
                           <div class="input-group col-8 col-sm-6">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-lock"></i></span>
                              </div>
                              <input type="password" class="form-control"
                                     id="password_confirmation" name="password_confirmation"
                                     th:placeholder="#{profile.input.password.placeholder}"
                                     data-validation-error-msg-container="#input-password-confirmation-error"
                                     data-validation="length" data-validation-length="min4"
                                     th:attr="data-validation-error-msg=#{profile.input.password.validation}">
                           </div>
                        </div>
                        <div class="form-group row d-none">
                           <div class="col-3"></div>
                           <div class="col-9 text-left" id="input-password-confirmation-error"></div>
                        </div>

                        <div class="form-group row">
                           <label for="password" class="col-3 text-right input-label-middle"
                                  th:text="#{profile.input.password.confirm}"></label>
                           <div class="input-group col-8 col-sm-6">
                              <div class="input-group-prepend">
                                 <span class="input-group-text"><i class="fas fa-redo"></i></span>
                              </div>
                              <input type="password" class="form-control"
                                     id="password" name="password"
                                     th:placeholder="#{profile.input.password.confirm.placeholder}"
                                     data-validation-error-msg-container="#input-password-error"
                                     data-validation="confirmation"
                                     th:attr="data-validation-error-msg=#{profile.input.password.confirm.validation}">
                           </div>
                        </div>
                        <div class="form-group row d-none">
                           <div class="col-3"></div>
                           <div class="col-9 text-left" id="input-password-error"></div>
                        </div>

                        <div class="form-group row">
                           <div class="col-3"></div>
                           <div class="input-group col-9">
                              <button type="submit" class="btn btn-primary" th:text="#{login.button}"></button>
                           </div>
                        </div>
                     </form>

                  </div>
               </div>
            </div>
         </div>


      </div>

   </div>

   <div th:replace="layout/Footer :: #footer-fragment"></div>
</body>
</html>
