<!DOCTYPE HTML>
<html>

   <header th:replace="layout/Includes :: #include-fragment"></header>

   <body>

      <div th:replace="layout/NavBar :: #navbar-fragment"></div>

      <script>
         $(document).ready(function () {
            doCreateRatings(true, 'sd');
            $('table').DataTable({});
            $('.form-check-input').on('change', function() {
               location = '/products?category=' + encodeURIComponent($(this).val());
            });
         });
      </script>

      <div class="container profile">

         <div th:replace="layout/Messages :: #messages-fragment"></div>
         
         <div class="row w-100 mx-auto">
            <div class="col-3 desktop-only">
               <div>
                  <div>
                     <p class="font-weight-bold filter-label">
                        <i class="fa fa-filter"></i>
                        Filter Products
                     </p>
                  </div>
                  <div class="filter-panel">
                     <ul class="list-group text-left">
                        <li class="list-group-item">
                           <div class="form-check">
                              <label class="form-check-label">
                                 <input type="radio" class="form-check-input" name="category" value=""
                                        th:checked="${(param.category == null) or (param.category[0] == '')}">
                                 All
                              </label>
                           </div>
                        </li>
                        <li class="list-group-item"
                            th:each="category,status  : ${categories}">
                           <div class="form-check">
                              <label class="form-check-label">
                                 <input type="radio" class="form-check-input" name="category" 
                                        th:value="${category.name}"
                                        th:checked="${param.category != null and param.category[0] == category.name}">
                                 <span th:text="${category.name}"></span>
                              </label>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
            <div class="col">
               <table class="table table-striped dt-responsive w-100" 
                      data-order="[[ 6, &quot;asc&quot; ]]" th:if="${products.size() > 0}">
                  <thead>
                     <tr>
                        <th data-priority="2" data-orderable="false" data-order="false"></th>
                        <th data-priority="1" th:text="#{product.name}"></th>
                        <th data-priority="5" th:text="#{product.description}"></th>
                        <th data-priority="4" th:text="#{product.category}"></th>
                        <th data-priority="3" th:text="#{product.rating}"></th>
                        <th data-priority="3" th:text="#{product.total.sales}"></th>
                        <th data-priority="2" th:text="#{product.price}"></th>
                        <th data-priority="1" data-orderable="false"><i class="fas fa-search"></i></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="product,status  : ${products}">
                        <td class="align-middle"><i class="fas" th:classappend="${product.icon}"></i></td>
                        <td class="align-middle">
                           <span th:text="${product.name}" th:title="${product.description}"></span>
                        </td>
                        <td th:text="${product.description}"></td>
                        <td class="align-middle" th:text="${product.category.name}"></td>
                        <td class="align-middle" th:attr="data-order=${product.rating}">
                           <input type="text" class="rating-loading" th:value="${product.rating}"/>
                        </td>
                        <td class="align-middle"><span th:text="${product.sales}"></span></td>
                        <td class="align-middle"><span th:text="${product.price}"></span><span>&euro;</span></td>
                        <td class="align-middle">
                           <form method="GET" th:action="@{/products/{id}(id=${product.productId})}">
                              <button class="btn btn-sm btn-success" type="submit">
                                 <i class="fa fa-search"></i>
                              </button>
                           </form>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

      </div>

      <div th:replace="layout/Footer :: #footer-fragment"></div>
   </body>
</html>
